@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --font-mono: '';
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-mono), monospace;
  letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono), monospace;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
